.contact-card {
    height: 600px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    /* background-color: cyan; */
}

.contact-card-icons {
    padding: 8px;
}

@media screen and (min-width: 800px) {
    .contact-card {
        height: 300px;
        width: 300px;
        /* background-color: green; */
    }
  }
