.album-pieces {
    padding-top: var(--nav-height);
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2fr);
    overflow-y: auto;
}

.album-piece {
    grid-row: span 1;
    grid-column: span 1;
    height: 600px;
    width: 100%;
    background-size: cover !important;
    background-position: center;
    margin: 8px;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
}

.album-title {
    position: absolute;
    top: var(--nav-height);
    /* padding-top: var(--nav-height); */
}
