.contact {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-card {
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    /* background-color: rgba(0,0,0,0.1); */
    border-radius: 3px;
    transition: .3s;
}

.contact-card-icons {
    padding: 8px;
}

@media screen and (min-width: 600px) {
    .contact-card {
        height: 300px;
        width: 300px;
        /* background-color: green; */
    }
  }